<div class="" id="picture">
			
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">

    <div class="active item" style="background:url('assets/image1.jpg') 10% 70% no-repeat; background-size:1000px;">
	<div class="feature">
		
		<h2>Expand Your Network</h2>
		<p>Connect talent with opportunity on and off the golf course</p>
		<p><i class="icon-trophy"></i><strong> Play on Golf [in]</strong></p>
		<%= link_to image_tag("LinkedIn_IN_Icon_25px.jpg") + " Login with LinkedIn", login_path, class: "btn btn-large btn-linkedin" %>
		
   	</div>
    </div>

    <div class="item" style="background:url('assets/image2.jpg') 80% 30% no-repeat; background-size:1000px;">
	<div class="feature">
		
		<h2>Find Business Partners</h2>
		<p>Looking for a new distributor? Trying to evaluate two suppliers and find a third? Want to learn more about the start-up that just e-mailed you?</p><br/><br/>
		<p><i class="icon-search"></i><strong> Find Find Find</strong></p>
		<%= link_to image_tag("LinkedIn_IN_Icon_25px.jpg") + " Login with LinkedIn", login_path, class: "btn btn-large btn-linkedin" %>
		
	</div>
    </div>

    <div class="item" style="background:url('assets/image3.jpg') 40% 30% no-repeat; background-size:1000px;">
	<div class="feature">
		
		<h2>Get Introduced</h2>
		<p>Once you've found your next business partner, connect with them on LinkedIn and find the connections you have in common. You might be surprised at who you both know.</p>
		<p><i class="icon-inbox"></i><strong> Take the next step.</strong></p>
		<%= link_to image_tag("LinkedIn_IN_Icon_25px.jpg") + " Login with LinkedIn", login_path, class: "btn btn-large btn-linkedin" %>
	  
	</div>
    </div>
	
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

</div>