<div class="page-header hero-unit center">
		
  <div class="dialog">
    <h1>We're sorry.</h1>
	<br/>
	<h2>The page you were looking for doesn't exist.</h2>
    <p>You may have mistyped the address or the page may have moved.</p>
	<br/>
	<%= link_to "Click here to go back", :back %>
  </div>

</div>